<div>
  <h3>Name: <%= @user.name %></h3>

  <span><%= @user.followers.count %> Followers</span> |
  <span><%= @user.followeds.count %> Following</span>
  <br>

  <div class="">
    <% if current_user != @user && logged_in? %>
      <% if current_user.following?(@user) %>
        <%= form_tag followship_path, method: :delete do %>
          <%= hidden_field_tag :followship_id, @user.follower_followship_ids %>
          <%= submit_tag "Unfollow" %>
        <% end %>
      <% else %>
        <%= form_for @followship do %>
          <%= hidden_field_tag :followed_id, @user.id %>
          <%= submit_tag "Follow" %>
        <% end %>
      <% end %>
    <% end %>
  </div><br>


    <span>Qweet Count: <%= @user.qweets.size %></span><br><br>
  <div class="">
    <%= link_to 'Compose New Qweet', new_user_qweet_path(@user) if @user == current_user %>
  </div>

<ul>
  <% @user.qweets.each do |qweet| %>
    <li><%= qweet.content %></li>
    <%= link_to 'Qweet details', user_qweet_path(@user, qweet) %>
  <% end %>
</ul>

</div>

<%  if @user == current_user %>
<%= link_to 'Edit User', edit_user_path(@user)%> |
<% end %>
<%= link_to 'Back', users_path %>
